master:
  build: .
  environment:
    JAVA_OPTS: "-Djenkins.install.runSetupWizard=false"
  ports:
    - "50000:50000"
    - "8080:8080"
  volumes:
    - jenkins_home:/var/jenkins_home
    - ./jenkins.yaml:/var/jenkins_home/jenkins.yaml
    - /var/run/docker.sock:/var/run/docker.sock
